@import "colors.css";

body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 1.0em;  /* 80% Enables font size scaling in MSIE */
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: var(--main-bg);
}

.container {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 3;
	grid-gap: 1em;
}

#header {
	grid-column: 1 / 4;
	grid-row: 1;
}

#content {
	grid-column: 2 / 3;
	grid-row: 2;
}

#nav-left {
	grid-column: 1 / 2;
	grid-row: 2;
}

#nav-right {
	grid-column: 3 / 4;
	grid-row: 2;
}

#footer {
	grid-column: 1 / 4;
	grid-row: 3;
}

/*
.blog_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	color: #000000;
}

.blog_subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
*/

.percentage {                                                                                                                                                            
	background: pink;                                                                                                                                                 
	color: #000000;
	font-weight: bold;                                                                                                                                                   
	font-size: 60%;
	z-index: 1;
}

/* Chromium browsers shrink fonts */
input, select, textarea, button {
	font-size: 100%;
}

input[type="checkbox"] {
	height: 1em;
	width: 1em;
}

.page-title {
	font-weight: bold;
	font-size: 120%
}

/* header */

#header {
	background-image: url(../images/header-background.jpg);
	background-repeat: no-repeat;
	color: var(--header-fg);
	height: 15em;
	background-size: 100% 100%;
	background-color: var(--header-bg);
	/* border-bottom: 5px solid var(--header-fg); */
	display: flex;
	border-bottom: 1px solid var(--header-fg);
}

.header-text {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	color: var(--header-fg);
	align-self: flex-end;
	margin: 0 0 1em 2em;
}

.header-title {
	font-size: 2em;
}

.header-subtitle {
	font-size: 1.5em;
}

#content {
	color: black;
	line-height: 1.5em;
	font-size: 1.1em;
	padding: 1em 1em 1em 1em;
}

#content h1 {
	font-family: "trebuchet ms", verdana, tahoma, sans-serif;
	font-size: 156%;
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

#content a {
	color: var(--link-fg);
	text-decoration: none;
}

#content a:hover {
	color: var(--link-hover-fg);
	text-decoration: none;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}


.box {
	color: black;
	width: 50%;
}

label {
    text-align: right;
    font-weight: bold;
}

.tdlabel {
	text-align: right;
	font-weight: bold;
}

legend {
    font-size: 120%;
    font-weight: bold;
}

select {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

button {
	color: var(--button-fg);
	background-color: var(--button-bg);
	font-weight: bold;
	padding: 5px 2px 5px 2px;
	border-radius: 5px;
}

button:hover {
	color: var(--button-hover-fg);
	font-weight: bold;
}

input[type="submit"] {
	color: var(--button-fg);
	background-color: var(--button-bg);
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}

input[type="submit"]:hover {
	color: var(--button-hover-fg);
	background-color: var(--button-hover-bg);
	font-weight: bold;
	padding: 5px;
}

input[type="date"] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.required {
	background: #FFFFCC;
}

.red {
	color: red;
}

.failure-message{
	/* border: 4px solid #F00; */
	background-color: var(--failure-bg);
	font-size: 120%;
	line-height: 1.6em;
	color: var(--failure-fg);;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	padding: 0.5em;
	display: block;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

.success-message {
	color: var(--success-fg);
	background-color: var(--success-bg);
	font-size: 120%;
	line-height: 1.6em;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

dt {
	font-weight: bold;
}

#footer {
  color: var(--footer-fg);
  font-size: 1.2em;
  margin-top: 2em;
  padding: 1em 1em;
  border-top: 5px solid var(--footer-fg);
}

/* table stuff */

table {
	border-collapse: collapse;
}

table a {
	font-weight: bold;
	text-decoration: none;
}

th {
	background-color: var(--th-bg);
	color: var(--th-fg);
	padding-left: 1em;
	padding-right: 1em;
}

td {
	padding-left: 1em;
	padding-right: 1em;
}

.border-rules, .border-rules th, .border-rules td {
	border: 1px solid black;
	border-collapse: collapse;
}

.align-right {
	text-align: right;
}

.row0 {
	background-color: #FFFFFF;
}

.row1 {
	background-color: #CCCCCC;
}

.lnavhead {
	font-size: 1.25em;
	font-weight: bold;
	margin: 10px 0 10px 0;
	text-align: right;
	color: var(--menu-label-fg);
	background-color: var(--menu-label-bg);
}

.lnavlink {
	list-style-type: none;
	list-style: none;
	text-align: right;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 1em;
	color: var(--menu-item-fg);
	background-color: var(--menu-item-bg);
}	

.lnavlink a {
	text-decoration: none;
	color: var(--menu-item-fg);
}

.lnavlink a:hover {
	padding: 0.5em;
	color: var(--menu-item-hover-fg);
	background-color: var(--menu-item-hover-bg);
}
.rnavhead {
	font-size: 1.25em;
	font-weight: bold;
	margin: 10px 0 10px 0;
	text-align: left;
	color: var(--menu-label-fg);
	background-color: var(--menu-label-bg);
}

.rnavlink {
	list-style-type: none;
	list-style: none;
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: -2em;
	font-weight: bold;
	font-size: 1em;
	color: var(--menu-item-fg);
	background-color: var(--menu-item-bg);
}	

.rnavlink a {
	text-decoration: none;
	color: var(--menu-item-fg);
}

.rnavlink a:hover {
	padding: 0.5em;
	color: var(--menu-item-hover-fg);
	background-color: var(--menu-item-hover-bg);
}

pre {
	background-color: #eeeeee;
}

/* article stuff */

.article-title {
	color: black;
	font-size: 1.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.article-topics {
	color: black;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.article-meta {
	color: black;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.comment-meta {
	color: black;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* pager */

.pager {
	font-size 1.5em;
}

